/* FOOTER */
.footer-minimal {
    background-color: #1f1f1f;
    color: #cfcfcf;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* IZQUIERDA */
.footer-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/* CENTRO */
.footer-center {
    text-align: center;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #cfcfcf;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ffffff;
}

.footer-copy {
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.7;
}

/* DERECHA */
.footer-right {
    display: flex;
    flex-direction: column;   /* Iconos arriba, texto abajo */
    align-items: center;      /* Todo centrado */
    text-align: center;       /* Centra el texto */
    gap: 8px;
}
    


.footer-social a {
    margin-left: 10px;
    color: #cfcfcf;
    font-size: 18px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ffffff;
}

.footer-support {
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.7;
}

/* ICONOS DEL FOOTER (IMÁGENES) */
.footer-social img {
    width: 22px;      /* Tamaño ideal y elegante */
    height: 22px;
    margin-left: 6px;
    margin-right: 10px;
    opacity: 0.8;     /* Se ven más suaves */
    transition: 0.3s ease;
}


