.salida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.desingbutono {
    border: none;
    margin: 20px;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #007bff;
    transition: box-shadow 0.3s ease-in-out; 
}
  .desingbutono:hover {
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.3); 
}

a{
    color: white;
}