.padre{
    display: flex;
    height: 100vh;
}

.hijo{
    flex: 1;
}

img{
    border-radius: 20px;
}

.fin{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;  
}

.fo{
    border: 1px solid black;
}h1{
    font-family:sans-serif ;
}

.desingbuton {
    border: none;
    margin: 20px;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #007bff;
    transition: box-shadow 0.3s ease-in-out; 
}
  .desingbuton:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
}

.desinginput{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 8px;
    border: 0;
    outline: none;

}

.box
{
  margin: 15px;
}

