a{
 text-decoration: none;
 font-family: sans-serif;
 color: rgb(255, 255, 255);
}

.Menu{
    display: flex;
    padding: 10px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.col{
    padding: 35px;
    color: rgb(255, 255, 255);
}