h1{
  font-family: sans-serif;
  margin: 0%;
  text-align: center;
}
.Menu{
    display: flex;
    padding: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;

}
.col{
    padding: 35px;
    color: rgb(255, 255, 255);
}

.Categoria{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

a, p{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#hola{
  color: white;
}

  .slider {
    width: 100%;             
    overflow: hidden;        
    position: relative;
    display: flex;       
  }
  
 
  .slides {
    display: flex;
    animation: slide 30s linear infinite;  
  }
  
 
  .slides img {
    width: auto;   
    height: auto;         
    height: 100%;          
    flex-shrink: 0;            
  }
   

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } 
}


/* Estilo base para el enlace */
.zoom-link {
  margin: 0;
  font-size: 16px;  /* Tamaño inicial */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #000;  /* Color del enlace */
  display: inline-block;
  transition: transform 0.3s ease; /* Para transiciones suaves */
}

/* Definimos la animación de zoom */
@keyframes zoom-animation {
  0% {
      transform: scale(1); /* Tamaño normal */
  }
  50% {
      transform: scale(1.1); /* Aumenta el tamaño */
  }
  100% {
      transform: scale(1); /* Vuelve al tamaño normal */
  }
}

/* Aplicamos la animación a la etiqueta a */
.zoom-link {
  animation: zoom-animation 2s infinite; /* Duración de 1s, repetido infinitamente */
}

