<link rel="stylesheet" href="../static/css/footer.css">
<footer class="footer-minimal">
    <div class="footer-container">

        <!-- IZQUIERDA -->
        <div class="footer-left">
            <h2 class="footer-title">CASSANDRA</h2>
        </div>

        <!-- CENTRO -->
        <div class="footer-center">
            <nav class="footer-links">
                <a href="#">About</a>
                <a href="#">Benefits</a>
                <a href="#">Career</a>
                <a href="#">Support</a>
            </nav>
            <p class="footer-copy">© 2025 Cassandra. All rights reserved.</p>
        </div>

        <!-- DERECHA -->
        <div class="footer-right">
            <div class="footer-social">
                <img src="../static/imagenes/facebook.png" alt="">
                <img src="../static/imagenes/instagram.png" alt="">
                <img src="../static/imagenes/whatsapp.png" alt="">
                <img src="../static/imagenes/tik-tok.png" alt="">
            </div>
            <p class="footer-support">Soporte:Cassandra@gmail.com</p>
        </div>

    </div>
</footer>
