<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Cassandra</title>
</head>
<body>
    <header>
        <div class="Menu">
            <div class="col"><a href="/">HOME</a></div>
            <div class="col"><a href="/sesion">INICIAR SESION</a></div>
        </div>
        {% block sesion%}{% endblock%}
    </header>
    <main>
        <img width="100%" src="../static/imagenes/Mesa de trabajo 1.JPEG" alt=""> 
    </main>

</body>
</html>