<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="../static/css/rescha.css">
    <title>Document</title>
</head>
<body>
<div class="padre">
<div class="hijo">
    <img height="100%" width="100%" src="../static/imagenes/login.jpg">
</div>
<div class="hijo">
    <div class="fin">
    <div><h1>CREA UNA CUENTA</h1></div>
    <div><form action="/registra" method="POST"></div>
        <div class="box"><input class="desinginput" type="text" name="user_name" required placeholder="Nombre"></div>
        <div class="box"><input class="desinginput" type="text" name="user_apell" required placeholder="Apellido"></div>
        <div class="box"><input class="desinginput" type="text" name="user_correo" required placeholder="Correro"></div>
        <div class="box"><input class="desinginput" type="text" name="user_contra" required placeholder="Contraseña"></div>
        <div><button class="desingbuton">Registrar</button></div>
    </form>
    <div><a href="/"><button class="desingbuton">Regresar</button></a></div>
    </div>
</div>
</div>
</body>
</html>
